swagger: '2.0'
info:
  title: 'stc - GCT Platform - APIs'
  description: |
      stc, a leading digital telecommunication corporation, has developed the GCT APIs to assist organizations to manage and utilize their owned SIMs in a manner that provides them managed connectivity in multi-national, multi-level, and multi-operator environments.
        ## Flow
        ```
        +------------+             +---------+            +----------+         
        |  Consumer  |             |  APIM   |            |  Target |
        +------------+             +---------+            +----------+      
              |                         |                       |     
              |   1- Consumer Request   |                       |                 
              |   ------------------>>  |                       |  
              |                                                 |
              |              2- APIM validates the request      |
              |                                                 |
              |   3- Validation Failure |                       |  
              | <<----------------------|                       |
              |                         |    3- Target Request  |  
              |                         |  ------------------>> |  
              |                         |                       |  
              |                         |    4-Target Response  |  
              |                         | <<------------------- |  
              |                         |                       |  
              |  5- Consumer Response   |                       |  
              | <<----------------------|                       |  
              |                         |                       |  
        ```
      
      
      ### Consumer(s) of API
      - **Partner Consumers**
        - OEM
        
      
      ## API Connectivity 
      ### Partner Host
        - **URL**
        Below is the base URL of internal hosts
         ```
              Live [Production]:  https://partner.api.stc.com.sa/gctPlatformMgmt/enterprise/v1  
              Sandbox [Preprod]:  https://sandbox.api.stc.com.sa:9522/gctPlatformMgmt/enterprise/v1
         ```
          
        - **Connectivity Details**
        Below is the connectivity details of internal host.
          | Environment |  FQDN |   Port      |  IP   | 
          |--------|-------|-------|------------|
          | **Sandbox [Pre-production]** | sandbox.api.stc.com.sa |9512 | 10.22.192.13
          | **Production** | partner.api.stc.com.sa |443 | 10.22.207.20         
          | **Disaster Recovery [DR]** | partner.api.stc.com.sa |443 | 10.18.223.29 
          
      # Release notes
      | Version |  Author   |   Date      |  Notes   | 
      |--------|-------  | -------|------------|
      | 1.0 |Walid Sadiq  &nbsp;  |  24th October 2022 | CR-50758 - GCT_IOT new platform project. 
  version: '1.0.0'
  termsOfService: https://developers.stc.com.sa/terms-and-conditions
  contact:
    name: API Team
    url: https://developers.stc.com.sa
    email: api@stc.com.sa
schemes:
  - https
host:  partner.api.stc.com.sa #partner.api.stc.com.sa (for Prod environment)
                               #sandbox.api.stc.com.sa:9512 (for Pre-prod environment)
basePath: '/gctPlatformMgmt/enterprise/v1'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  OAuth2ClientCredentials:
    type: oauth2
    description: |
      Authorization using OAuth 2.0 protocol using the Client Credentials grant type. You must obtain a valid stc OAuth 2.0 access token with the relevant scope to use this method of authorization.
      
      Example: ```Authorization: Bearer AbCdEf123456```
      
      The string ```AbCdEf123456``` in the example above is the bearer authorization token. 
    tokenUrl: 'https:/api.stc.com.sa/s-oidc/oAuth2/v1/token'
    flow: password
    scopes:
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/voiceusage.read': read sim voice usage information
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/dataUsage.read': read sim data usage information
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/attachServicePlan.create': To attach new service plan to the device
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sms/send': send sms
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/account.read': To retrieve the details of the account
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/cancelLocation.create': disconnect sim from network
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/latestRegistration.read': read latest sim network registration
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/activationTrend.read' : To fetch the SIM Activation report
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/dataSessionCount.read' : To fetch the SIM Activation report      
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/ping': ping current api for healthcheck
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/account.read': To retrieve the details of the account
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/dataUsage.read': read device data usage information
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/users/userId.read': To fetch the details of the user through its userID
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/sessionHistory.read': To get the CDR details
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/smsusage.read': read message usage information
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/changeState.update' : update sim's current state
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/info.read': read sim info
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/downlink/usage.read': To fetch downlink data usage report.
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/alias.update': To update SIM Alias
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/users.read': To fetch the details of the user
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/sessionInfo.read': To fetch the details of the current device session
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/vehicleIdentificationNumber.update': To update the VIN
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/state.read': To get the current sim state
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/bundleDetails.read': to get Voice, SMS, and data bundle
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/uplink/usage.read': To fetch uplink data usage report.
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/audit.read': To get the audit history of the SIM
      'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/sessionWiseDataUsage.read': To fetch the details of data usage sessions
paths: 
  '/sims/voice/usage':
      get:
        tags:
          - Sim
        description: This API is used to get SMS usage based on selective criteria
        summary: To get voice usage of the selective criteria
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/voiceusage.read'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: customerAccountId
            in: query
            description: AccountId of the customer
            type: string
            required: true
          - name: callType
            in: query
            description: 'Records on basis on SOURCE(MO - Mobile Originated), DESTINATION(MT - Mobile Terminated)'
            type: string
            enum:
              - SOURCE
              - DESTINATION
            required: true
          - name: timeUnit
            in: query
            description: 'To get the voice usuage according to entered criteria example Hour/DAY/MONTH/YEAR'
            type: string
            enum:
              - Hour
              - Day
              - Month
              - Year
            required: true
          - name: startDate
            in: query
            description: 'The date from which to get voice usage. Below are the possible options
                <br> <b>Hourly - </b> yyyy-MM-dd HH:mm:ss
                <br> <b>Daily -  </b>  yyyy-MM-dd
                <br> <b>Weekly - </b>  yyyy-MM-dd HH:mm:ss
                <br> <b>Quarter - </b>yyyy-MM-dd HH:mm:ss
                <br> <b>Monthly - </b>MMM-yyyy  e.g. MMM = Jan
                <br> <b>Yearly - </b>  yyyy'
            type: string
            required: true
          - name: endDate
            in: query
            description: 'The date to which to get voice usage. Below are the possible options
                <br> <b>Hourly - </b> yyyy-MM-dd HH:mm:ss
                <br> <b>Daily -  </b>  yyyy-MM-dd
                <br> <b>Weekly - </b>  yyyy-MM-dd HH:mm:ss
                <br> <b>Quarter - </b>yyyy-MM-dd HH:mm:ss
                <br> <b>Monthly - </b>MMM-yyyy  e.g. MMM = Jan
                <br> <b>Yearly - </b>  yyyy'
            type: string
            required: true
          - name: msisdn
            in: query
            description: MSISDN
            type: string
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/SIMVoiceUsagesResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/sims/data/usage':
      get:
        tags:
          - Sim
        description: This API fetches the consolidated data usage details of a SIM for a particular time period. This detail can be fetched for a single or multiple SIM in a group.
         <br/><br/>```Filter Activities - By Offset and Limit (Paging)```<br/>
         Following query parameters should be supplied by client, If not provided service will return a partial response considering
         with default values of offset i.e. '0' and limit i.e. '20'. 
         <ul style='list-style-type:square'>
           <li>offset</li>
           <li>limit</li>         
         </ul>
        summary: To fetch consolidated data usage details of the SIM.
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/dataUsage.read'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: customerAccountId
            in: query
            description: AccountId of the customer - <b>This field is mandatory if imsi is not passed </b> <br>```if imsi & customerAccountId both are provided then imsi will be preferred```
            type: string
            required: false
          - name: imsi
            in: query
            description: IMSI of the SIM - <b>This field is mandatory if customerAccountId is not passed</b> <br> ```If imsi & customerAccountId both are provided then imsi will be preferred```
            type: string
            required: false
          - name: startDate
            in: query
            description: 'Start Date Range of the report e.g.
                <br> <b>Hourly - </b> yyyy-MM-dd HH:mm:ss
                <br> <b>Daily -  </b>  yyyy-MM-dd
                <br> <b>Weekly - </b>  yyyy-MM-dd HH:mm:ss
                <br> <b>Quarter - </b>yyyy-MM-dd HH:mm:ss
                <br> <b>Monthly - </b>MMM-yyyy  e.g. MMM = Jan
                <br> <b>Yearly - </b>  yyyy'
            type: string
            required: true
          - name: endDate
            in: query
            description: 'End Date Range of the report e.g.
                <br> <b>Hourly - </b> yyyy-MM-dd HH:mm:ss
                <br> <b>Daily -  </b>  yyyy-MM-dd
                <br> <b>Weekly - </b>  yyyy-MM-dd HH:mm:ss
                <br> <b>Quarter - </b>yyyy-MM-dd HH:mm:ss
                <br> <b>Monthly - </b>MMM-yyyy  e.g. MMM = Jan
                <br> <b>Yearly - </b>  yyyy'
            type: string
            required: true
          - name: limit
            default: '20'
            in: query
            description: The number of records returned in request.
            type: integer
            required: false
          - name: offset
            default: '0'
            in: query
            description: To specify starting row offset into the result set
            type: integer
            required: false
          - name: timeUnit
            in: query
            description: 'To get the voice usuage according to entered criteria example Hour/DAY/MONTH/YEAR'
            type: string
            enum:
              - Hour
              - Day
              - Month
              - Year
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/SIMDataUsageResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/device/attachServicePlan':
      post:
        tags:
          - Device
        description: This API is called to assign the new service plan to the device.
        summary: To attach new service plan to the device.
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/attachServicePlan.create'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - schema:
              $ref: '#/definitions/deviceattachserviceplan'
            in: body
            name: body
            description: This API is used to attached service plan on SIM,Notes To be added
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/deviceattachserviceplanResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/sms/send':
      post:
        tags:
          - SMS
        description: This API is used to send SMS to a specific SIM.
        summary: To send SMS to a specific SIM.
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sms/send'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - schema:
              $ref: '#/definitions/simsendsmssync'
            in: body
            name: body
            description: IMSI of the SIM,The text of the SMS message.
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/simsendsmssyncResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/account/{id}':
      get:
        tags:
          - Account
        description: 
          This set of APIs fetch various details about an account including
          account name, parent account, unique id, account state and creation
          date. AccountID will be passed and a single-entry detail of the searched
          account will be returned.
        summary: To retrieve the details of the account
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/account.read'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: id
            default: '23'
            in: path
            description: The unique ID of the account
            type: string
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/accountIdResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/device/cancelLocation':
      get:
        tags:
          - Device
        description:
          This API will clear the subscriber data from previous MS/VLR and
          disconnects it from network, after this the device will reconnects to
          network itself.
        summary: This API will clear the subscriber data from MS/VLR.
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/cancelLocation.create'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: iccid
            in: query
            description: ICCID of the SIM
            type: string
            required: true
          - name: imsi
            in: query
            description: IMSI of the SIM
            type: string
            required: true
          - name: msisdn
            in: query
            description: MSISDN
            type: string
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/devicecancellocationResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/device/latestRegistration':
      get:
        tags:
          - Device
        description:
          This API is called order to fetch latest SIM registration timestamp on
          the network along with network element address. It will output Network
          Registration Status, Last Registration Timestamp, Network Element Name
          and Network Element Address.
        summary: To get the latest SIM registration timestamp.
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/latestRegistration.read'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: iccid
            in: query
            description: ICCID of the SIM
            type: string
            required: true
          - name: imsi
            in: query
            description: IMSI of the SIM
            type: string
            required: true
          - name: msisdn
            in: query
            description: MSISDN
            type: string
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/devicelatestRegistrationResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/sims/activationTrend':
      get:
        tags:
          - Sim
        description: This API gives information about the number of SIMs activated in a particular  Group per month.
        summary: To fetch the SIM Activation report.
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/activationTrend.read'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: customerAccountId
            in: query
            description: AccountId of the customer
            type: string
            required: true
          - name: startDate
            in: query
            description: 'Start Date Range of the report e.g.
                <br> <b>yyyy-MM-dd HH:mm:ss </b>'
            type: string
            required: true
          - name: endDate
            in: query
            description: 'End Date Range of the report e.g.
                <br> <b>yyyy-MM-dd HH:mm:ss </b>
                <br>```Difference between startDate and endDate should not exceed 30 days```'
            type: string
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/simactivationTrendResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/sims/dataSessionCount':
      get:
        tags:
          - Sim
        description: This API fetches the number of session counts made by a SIM in a month.
        summary: To retrieve the SIM data session count.
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/dataSessionCount.read'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: customerAccountId
            in: query
            description: AccountId of the customer
            type: string
            required: false
          - name: imsi
            in: query
            description: IMSI of the SIM
            type: string
            required: true
          - name: startDate
            in: query
            description: 'Start Date Range of the report e.g.
                <br> <b>Hourly - </b> yyyy-MM-dd HH:mm:ss
                <br> <b>Daily -  </b>  yyyy-MM-dd
                <br> <b>Weekly - </b>  yyyy-MM-dd HH:mm:ss
                <br> <b>Quarter - </b>yyyy-MM-dd HH:mm:ss
                <br> <b>Monthly - </b>MMM-yyyy  e.g. MMM = Jan
                <br> <b>Yearly - </b>  yyyy'
            type: string
            required: true
          - name: endDate
            in: query
            description: 'End Date Range of the report e.g.
                <br> <b>Hourly - </b> yyyy-MM-dd HH:mm:ss
                <br> <b>Daily -  </b>  yyyy-MM-dd
                <br> <b>Weekly - </b>  yyyy-MM-dd HH:mm:ss
                <br> <b>Quarter - </b>yyyy-MM-dd HH:mm:ss
                <br> <b>Monthly - </b>MMM-yyyy  e.g. MMM = Jan
                <br> <b>Yearly - </b>  yyyy'
            type: string
            required: true
          - name: apnName
            in: query
            description: ' APN associated to the SIM'
            type: string
            required: false
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/simdatasessioncountResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/monitoring/ping':
      get:
        tags:
          - Ping
        description: Ping API.
        summary: Healthcheck ping API for.
        operationId: echo 
        produces:
          - application/json
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/ping'             
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/PingResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/sims/account/{accountId}':
      get:
        tags:
          - Sim
        description: This API allows users to retrieve a list of all the SIMs assigned to an account based on the Account ID passed. The endpoints will return information regarding the SIM List.
         <br/><br/>```Filter Activities - By Offset and Limit (Paging)```<br/>
         Following query parameters should be supplied by client, If not provided service will return a partial response considering
         with default values of offset i.e. '0' and limit i.e. '10'. 
         <ul style='list-style-type:square'>
           <li>offset</li>
           <li>limit</li>         
         </ul>
        summary: Returns list of all SIMs assigned / allocated to an account.
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/account.read'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: accountId
            in: path
            description: AccountId of the customer
            type: string
            required: true
          - name: limit
            default: '20'
            in: query
            description: The number of records returned in request.
            type: integer
            required: false
          - name: offset
            default: '0'
            in: query
            description: To specify starting row offset into the result set
            type: integer
            required: false
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/simsaccountaccountidResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/device/dataUsage':
      get:
        tags:
          - Device
        description: This API fetches the data usage details of the device.
        summary: To fetch the data usage details of the device.
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/dataUsage.read'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: imsi
            in: query
            description: IMSI of the SIM - This field is mandatory if ICCID is not passed
            type: string
            required: false
          - name: iccid
            default: '890083800000004222'
            in: query
            description: ICCID of the SIM - This field is mandatory if IMSI is not passed
            type: string
            required: false
          - name: startDate
            in: query
            description: Start date of the session
            default: 2022-06-0100:00:00
            type: string
            required: true
          - name: endDate
            in: query
            description: End date of the session
            default: 2022-06-0100:00:00
            type: string
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/devicedataUsageResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/users/{id}':
      get:
        tags:
          - Users
        description: This API fetches the details of a particular user through its user ID.
        summary: To fetch the details of the user through its userID
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/users/userId.read'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: id
            default: '23'
            in: path
            description: The ID of the User
            type: integer
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/useridResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/device/sessionHistory':
      get:
        tags:
          - Device
        description: This call fetches the CDR details according to the configured filtering options based on Start time and End time sessions.
        summary: To get the CDR details.
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/sessionHistory.read'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: imsi
            in: query
            description: IMSI of the SIM
            type: string
            required: true
          - name: startDate
            in: query
            description: The date from which history is to be fetched
            default: 2022-07-31
            type: string
            required: true
          - name: endDate
            in: query
            description: The date upto which history is to be fetched
            default: 2022-07-31
            type: string
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/devicesessionhistoryResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/sims/sms/usage':
      get:
        tags:
          - Sim
        description: This API fetches the SMS usage details of a SIM against a selective criteria.
        summary: to get SMS usage of the selective criteria
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/smsusage.read'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: customerAccountId
            in: query
            description: AccountId of the customer
            type: string
            required: true
          - name: callType
            in: query
            description: 'Records on basis on SOURCE(MO - Mobile Originated), DESTINATION(MT - Mobile Terminated)'
            type: string
            enum:
              - SOURCE
              - DESTINATION
            required: true
          - name: timeUnit
            in: query
            description: 'To get the voice usuage according to entered criteria example Hour/DAY/WEEK/Quarter/MONTH/YEAR'
            type: string
            enum:
              - Hour
              - Day
              - Week
              - Month
              - Quarter
              - Year
            required: true
          - name: startDate
            in: query
            description: 'The date from which get sms usage e.g.
                <br> <b>Hourly - </b> yyyy-MM-dd HH:mm:ss
                <br> <b>Daily -  </b>  yyyy-MM-dd
                <br> <b>Weekly - </b>  yyyy-MM-dd HH:mm:ss
                <br> <b>Quarter - </b>yyyy-MM-dd HH:mm:ss
                <br> <b>Monthly - </b>MMM-yyyy  e.g. MMM = Jan
                <br> <b>Yearly - </b>  yyyy'
            type: string
            required: true
          - name: endDate
            in: query
            description: 'The date to which get sms usage e.g.
                <br> <b>Hourly - </b> yyyy-MM-dd HH:mm:ss
                <br> <b>Daily -  </b>  yyyy-MM-dd
                <br> <b>Weekly - </b>  yyyy-MM-dd HH:mm:ss
                <br> <b>Quarter - </b>yyyy-MM-dd HH:mm:ss
                <br> <b>Monthly - </b>MMM-yyyy  e.g. MMM = Jan
                <br> <b>Yearly - </b>  yyyy'
            type: string
            required: true
          - name: msisdn
            in: query
            description: MSISDN
            type: string
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/simsmsusageResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/device/changeState':
      put:
        tags:
          - Device
        description: >-
          This API follows the Sync process for Device SIM State change. With this
          API, it is possible to request a change on SIM State by passing a
          desired state request and in return status of the request is received
          along with a reference ID. Note: When the Device is in Warm state, then
          the Device is registered first, and after that Device SIM state gets
          changed. SIM States: 1. Warm: - SIM assigned to enterprise but do not
          have access to data. Here, device will be registered first and then SIM
          state will be changed. 2. Activated: - SIM is considered “billable” and
          allowed to establish data connection. 3. Deactivated: -SIM is not
          considered “billable” and not allowed to establish data connection 4.
          Suspended: - Sim deployed to an account but temporarily made inactive.
          5. Retired: - SIM not allowed to establish data connection and has been
          physically removed from the network.
        summary: To update the SIM current state
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/device/changeState.update'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - schema:
              $ref: '#/definitions/devicechangestate'
            in: body
            name: body
            description: >-
              ICCID of the SIM,The new state of the device which got changed from
              the current state,The service plan ID(DB),The device plan
              ID(DB),Reason for the sim state change
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/devicechangestateResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'  
          '403':
            $ref: '#/responses/forbidden' 
          '404':
            $ref: '#/responses/resourceNotFound' 
          '429':
            $ref: '#/responses/tooManyRequests'
          '500':
            $ref: '#/responses/internalServerError'
          '503':
            $ref: '#/responses/serviceUnavailable'
  '/sims':
      get:
        tags:
          - Sim
        description: >-
          This API is used to get multiple SIMs details by providing IMSI &
          ICCID in body parameters.
        summary: To get the details of sims whether it is single or multiple sim
        operationId: ''
        security:
          - OAuth2ClientCredentials:
              - 'https://api.stc.com.sa/scope/appAuth/gctPlatformMgmt/sims/info.read'
        produces:
          - application/json
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: >
              Authorization header. This parameter accepts HTTP Basic and Bearer
              authentications. Check the security requirements of the API resource
              you intend to use.
  
  
              Basic Auth example: ```Authorization: Basic
              YXBpS2V5OmFwaVNlY3JldA==```
  
  
              The API client credentials are combined with a colon i.e.
              ```key:secret``` and must be base64 encoded.
  
  
              Bearer token example: ```Authorization: Bearer AbCdEf123456```
  
  
              The string ```AbCdEf123456``` in the example above is the bearer
              authorization token. 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: |
              A client message reference value that will be sent back as part of the response header. It is an optional field but it is highly recommended to pass. Client can create some random ID, unique per request and pass it to each request. The APIM then include this value in every log statement that it creates.
  
              **Note**:
              1- APIM does not recommend any specific format to generate unique value.
              2- If a client receives an error, just share this value with the APIM team, which would help the team to look into the corresponding log statements (without depending on IPs, port, payload, timestamps, and so forth).
  
              Example Value: ```8a969c6a-c28a-t546-gd79-961e682318a3```
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: |
              A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header but it is highly recommended to pass. It is a unique identifier value that is common to all requests and responses in a given transaction. The APIM include this value in every log statement that it creates. This value than can be used to identify all messages that are originated from the same transaction.


              Example Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```
            type: string
          - name: iccids
            in: query
            description: ICCID of the SIM
            type: string
            required: true
          - name: imsis
            in: query
            description: IMSI of the SIM
            type: string
            required: true
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/getsimsResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
[...]
